---
title: music
layout: gallery
---
{% assign albums = site.music | sort:"date" %}
{% assign media = site.musicmedia %}

{% for music in albums %}
{% if music.cover == true %}
    <a href="{{ music.url | relative_url }}">
        <picture>
            <source srcset="{{ media }}{{ music.album | slugify }}/{{music.image}}.webp" type="image/webp">
            <source srcset="{{ media }}{{ music.album | slugify }}/{{music.image}}.jpg" type="image/jpeg">
            <img src="{{ media }}{{ music.album | slugify }}/{{music.image}}.jpg" alt="{{music.alt}}" title="{{music.title}}">
        </picture>
    </a>
{% endif %}
{% endfor %}
