</div>

<footer id="sitefoot">
    <nav id="socialnav">
        <a  class="social patreon"href="https://patreon.com/spacebard" {{site.linkopener}} title="Patreon"></a>
        <a class="social instagram"href="https://instagram.com/ben.ickler" {{site.linkopener}} title="Instagram"></a>
        <a class="social artstation"href="https://www.artstation.com/spacethief" {{site.linkopener}} title="ArtStation"></a>
    </nav>
</footer>

    </div><!-- #page -->

{% include fonts.html %}
{% include ko-fi.html %}
{% include cloudflare_analytics.html %}
</body>
</html>