</div>

<footer id="sitefoot">
    <nav id="socialnav">
        <a  class="social patreon"href="https://patreon.com/spacebard"><img src="{{ site.assets }}patreon.svg" alt="patreon" title="Patreon" /></a>
        <a class="social instagram"href="https://instagram.com/ben.ickler"><img src="{{ site.assets }}instagram.svg" alt="instagram" title="Instagram" /></a>
    </nav>
    <span class="copyright">&copy;2020</span>
</footer>

    </div><!-- #page -->

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</body>
</html>