</div>

<footer id="sitefoot">
    <nav id="socialnav">
        <a  class="social patreon"href="https://patreon.com/spacebard" {{site.linkopener}}><img src="{{ site.assets }}patreon.svg" alt="patreon" title="Patreon" /></a>
        <a class="social instagram"href="https://instagram.com/ben.ickler" {{site.linkopener}}><img src="{{ site.assets }}instagram.svg" alt="instagram" title="Instagram" /></a>
        <!-- <a class="social artstation"href="https://www.artstation.com/spacethief" {{site.linkopener}}><img src="{{ site.assets }}artstation.svg" alt="ArtStation" title="ArtStation" /></a> -->
    </nav>
</footer>

    </div><!-- #page -->

    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

</body>
</html>