{% assign thisbook = page.book %}
{% assign fullbook = site.fullcomics | where:item.book, thisbook %}
{% assign mobook = site.mobilecomics | where:item.book, thisbook %}
{% if page.collection == 'mobilecomics' %}
    {% assign thisbookslug = page.bookslug %}
{% else %}
    {% assign thisbookslug = page.book | slugify %}
{% endif %}
{% assign thiscover = '/comics/' | append: thisbookslug %}

<nav class="postnav">
    <!-- previous -->
    {% if page.collection == 'fullcomics' or page.collection == 'mobilecomics' %}
        {% if page.previous.url %}
            <a class="previous" href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title }}">previous</a>
        {% else %}
            <a class="previous" href="{{ thiscover | relative_url }}">cover</a>
        {% endif %}

    {% elsif page.collection == 'comics' %}
        {% for comics in fullbook limit:1 %}
            <a class="previous" href="{{ comics.url | relative_url }}">Full Page Layout</a>
        {% endfor %}

    {% else %}
        {% if page.next.url %}
            <a class="previous" href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}">next</a>
        {% elsif page.collection == 'art' %}
            <a class="previous" href="{{ '/art/' | relative_url }}">gallery</a>
        {% elsif page.collection == 'animation' %}
            <a class="previous" href="{{ '/animation/' | relative_url }}">theater</a>
        {% endif %}
    {% endif %}

    <!-- next -->
    {% if page.collection == 'fullcomics' or page.collection == 'mobilecomics' %}
        {% if page.next.url %}
            <a class="next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}">next</a>
        {% else %}
            <a class="next" href="{{ '/comics/' | relative_url }}">more comics</a>
        {% endif %}

    {% elsif page.collection == 'comics' %}
        {% for comics in mobook limit:1 %}
            <a class="next" href="{{ comics.url | relative_url }}">Mobile Layout</a>
        {% endfor %}

    {% else %}
        {% if page.previous.url %}
            <a class="next" href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title }}">previous</a>
        {% elsif page.collection == 'art' %}
            <a class="next" href="{{ '/art/' | relative_url }}">gallery</a>
        {% elsif page.collection == 'animation' %}
            <a class="next" href="{{ '/animation/' | relative_url }}">theater</a>
        {% endif %}
    {% endif %}
</nav>

<!-- buy links -->
{% if page.artstation or page.kofi %}
    <nav class="postnav">
        {% if page.artstation %}
            <a href="{{ page.artstation }}" {{site.linkopener}}>Buy on artstation</a>
        {% endif %}
        {% if page.kofi %}
            <a href="{{ page.kofi }}" {{site.linkopener}}>Buy on ko-fi</a>
        {% endif %}
    </nav>
{% endif %}
