<div class="soundcloud">
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=4217389172/size=small/bgcol=333333/linkcol=fe7eaf/artwork=none/track=681364957/transparent=true/" seamless><a href="https://spacethief.bandcamp.com/album/between-planets">Between Planets by Space Thief</a></iframe>
<!--
    <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.song }}&color=%23ff5500&inverse=true&auto_play=false&show_user=false" loading="lazy"></iframe>
-->
</div>