        /* &.art-single {
            .theimage img {
                height: calc(100vh - 150px);
            }
        }
        &.comic-single .theimage img {
            height: calc(100vh - 60px);
        }
        &.comic-cover .theimage img {
            height: calc(100vh - 100px);
        } */
         /* &.youtube {
            margin-left: -35px;
            width: 665px;
        } */
