/* Media Queries */
$screen-tablet: 50em;
$screen-medium: 80em;
$screen-large: 110em;

@media screen and (min-width:$screen-tablet) {
    #content .gallery {
        grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
    }
}