/* Fonts */
$main-title: 'Architects Daughter', sans-serif;
$post-title: 'Philosopher', sans-serif;

/* Colors */
$primary-bg: rgb(8,8,8);
$hi-bg: rgb(2,5,22);
$primary-color: #ffffff;
$hi-color: rgb(247,29,147);
$dimmed: #686868;