---
---
@import "resets";
@import "responsive";

/* Fonts */
$main-title: 'Architects Daughter', sans-serif;
$post-title: 'Philosopher', sans-serif;

/* Colors */
$primary-bg: rgb(8,8,8);
$hi-bg: rgb(2,5,22);
$primary-color: #ffffff;
$hi-color: rgb(247,29,147);
$dimmed: #686868;

/* Assets Directory */
$assets: "{{ site.assets }}";

body {
    background-color: $primary-bg;
    color: $primary-color;
    font-size: 16px;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sitehead {
    font-family: $main-title;
    color: $hi-color;
    a {
        color: $hi-color;
    }
    .site-title {
        text-align: center;
        font-size: 1.9em;
        background-color: $hi-bg;
        background-image: url('#{$assets}sobp-triskelion-logo-still.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
        min-height: 50px;
        text-shadow: 1px 1px rgb(0,0,0), -10px -10px 6px rgba(0,0,0,0.4);
    }
    .site-title:hover { 
        background-image: url('#{$assets}sobp-triskelion-logo-spin.png');
    }
    nav {
        display: grid;
        grid-template-columns: repeat(2,minmax(100px,1fr));
        text-align: center;
        padding: 0 .3em;
        grid-column-gap: .3em;
        span {
            a {
                display: block;
                padding: .2em 0;
                background-color: $hi-bg;
                border: 1px solid;
                transition: background-color .3s ease-in-out;
            }
            a:hover {
                background-color: $primary-bg;
            }
        }
    }
}

#content {
    flex: 1 0 auto;
    padding: 2%;
    margin: 0 auto 30px;
    max-width: 95%;
    h1 {
        font-family: $post-title;
        color: $hi-color;
        font-size: 1.5em;
        margin-bottom: .3em;
        padding-left: 1%;
    }
    .soundcloud {
        position: relative;
        bottom: 0;
        width: 95%;
    }
}
#content.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
    grid-gap: .5em;
}
#content.art-single {
    p {
        margin: 0;
        text-align: center;
    }
}
#content.comic-single {
    p {
        margin: 0;
        text-align: center;
    }
}

.postnav {
    display: grid;
    grid-template-columns: repeat(2,50%);
    max-width: 95%;
    margin: 1em auto;
    grid-gap: .3em;
    text-align: center;
    font-size: .9em;
    font-family: $main-title;
    a {
        background-color: $hi-bg;
        display: block;
        padding: .3em;
        border: 1px solid;
        color: $hi-color;
    }    
}

#sitefoot {
    height: 50px;
    flex-shrink: 0;
    text-align: center;
    width: 100%;
    background-color: $hi-bg;
    padding: 0;
    p {
        margin: 0;
    }
    #socialnav {
        margin: .3em 0;
        .social {
            width: 30px;
            height: 30px;
            margin: .3em .5em;
            display: inline-block;
            img {
                width: 30px;
                height: 30px;
            }
        }    
    }
}