{% include head.html %}
{% assign media = site.artmedia %}
{% assign theimage = page.image %}

<div class="contentInner">
{% if page.image %}
    {% include imagelink.html %}
        {% include theimage.html %}
    </a>
{% endif %}

{% if page.tags %}
    <p class="tags">{{ page.tags | sort | join: ", " }}</p>
{% endif %}

{% include postnav.html %}
{% if page.artstation or page.kofi %}
    <nav class="postnav">
        {% if page.artstation %}
            <a href="{{ page.artstation }}" {{site.linkopener}}>Buy on artstation</a>
        {% endif %}
        {% if page.kofi %}
            <a href="{{ page.kofi }}" {{site.linkopener}}>Buy on ko-fi</a>
        {% endif %}    
    </nav>
{% endif %}
</div>

{% include foot.html %}
