{% include head.html %}

{% if page.song %}
    {% include soundcloud.html %}
{% endif %}

<div class="contentInner">
{% include breadcrumbs.html %}
{{ content }}
{% assign book = page.book | slugify %}
{% assign album = page.album | slugify %}
{% if page.collection == 'fullcomics' or page.collection == 'mobilecomics' %}{% assign media = site.comicsmedia | append: book  | append: '/' %}{% elsif page.collection == 'music' %}{% assign media = site.musicmedia | append: album | append: '/' %}{% endif %}

<p>
{% if page.image %}
<!-- single image -->
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image}}.jpg" alt="{{page.alt}}" title="{{page.alt}}" loading="lazy">
    </picture>
    </a>
{% endif %}

{% if page.image01 %}
<!-- multiple images -->
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image01}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image01}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image01}}.jpg" alt="{{page.alt01}}" title="{{page.alt01}}" loading="lazy">
    </picture>
    </a>
{% endif %}
{% if page.image02 %}
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image02}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image02}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image02}}.jpg" alt="{{page.alt02}}" title="{{page.alt02}}" loading="lazy">
    </picture>
    </a>
{% endif %}
{% if page.image03 %}
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image03}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image03}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image03}}.jpg" alt="{{page.alt03}}" title="{{page.alt03}}" loading="lazy">
    </picture>
    </a>
{% endif %}
{% if page.image04 %}
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image04}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image04}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image04}}.jpg" alt="{{page.alt04}}" title="{{page.alt04}}" loading="lazy">
    </picture>
    </a>
{% endif %}
{% if page.image05 %}
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image05}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image05}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image05}}.jpg" alt="{{page.alt05}}" title="{{page.alt05}}" loading="lazy">
    </picture>
    </a>
{% endif %}
{% if page.image06 %}
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image06}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image06}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image06}}.jpg" alt="{{page.alt06}}" title="{{page.alt06}}" loading="lazy">
    </picture>
    </a>
{% endif %}
{% if page.image07 %}
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image07}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image07}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image07}}.jpg" alt="{{page.alt07}}" title="{{page.alt07}}" loading="lazy">
    </picture>
    </a>
{% endif %}
{% if page.image08 %}
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image08}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image08}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image08}}.jpg" alt="{{page.alt08}}" title="{{page.alt08}}" loading="lazy">
    </picture>
    </a>
{% endif %}
{% if page.image09 %}
    {% include imagelink.html %}
    <picture>
        <source srcset="{{ media }}{{page.image09}}.webp" type="image/webp">
        <source srcset="{{ media }}{{page.image09}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{page.image09}}.jpg" alt="{{page.alt09}}" title="{{page.alt09}}" loading="lazy">
    </picture>
    </a>
{% endif %}
</p>

{% include postnav.html %}
</div>

{% include foot.html %}
