{% include head.html %}

{{ content }}
{% assign media = site.comicsmedia %}
{% if page.image %}
    <picture>
        <source srcset="{{ media }}{{ page.book | slugify }}/{{page.image}}.webp" type="image/webp">
        <source srcset="{{ media }}{{ page.book | slugify }}/{{page.image}}.jpg" type="image/jpeg"> 
        <img src="{{ media }}{{ page.book | slugify }}/{{page.image}}.jpg" alt="{{page.alt}}" title="{{page.title}}" loading="lazy">
  </picture>
{% endif %}

<nav class="postnav">
{% assign thisbook = page.book %}
{% assign fullbook = site.fullcomics | where:item.book, thisbook %}
{% for comics in fullbook limit:1 %}
<a href="{{ comics.url | relative_url }}">Full Page Layout</a>
{% endfor %}

{% assign mobook = site.mobilecomics | where:item.book, thisbook %}
{% for comics in mobook limit:1 %}
<a href="{{ comics.url | relative_url }}">Mobile Layout</a>
{% endfor %}
</nav>


{% include foot.html %}