{% include head.html %}

{% if page.song %}
    {% include soundcloud.html %}
{% endif %}

{% unless page.collection == 'art' %}
    {{ content }}
{% endunless %}

{% assign small = '(max-width: 320px)' %}
{% assign medium = '(min-width: 321px) and (max-width: 540px)' %}
{% assign large = '(min-width: 541px) and (max-width: 800px)' %}
{% assign xlarge = '(min-width: 801px)' %}

{% assign album = page.album | slugify %}
{% assign book = page.book | slugify %}
{% if page.collection == 'comics' or page.collection == 'fullcomics' or page.collection == 'mobilecomics' %}{% assign media = site.comicsmedia | append: book | append: '/' %}{% elsif page.collection == 'animation' %}{% assign media = site.animedia %}{% elsif page.collection == 'music' %}{% assign media = site.musicmedia | append: album | append: '/' %}{% else %}{% assign media = site.artmedia %}{% endif %}

{% if page.featured %}
    {% assign theimage = page.featured %}
{% else %}
    {% assign theimage = page.image %}
{% endif %}
{% if page.image or page.featured %}
{% unless page.collection == 'music' %}
    <div class="theimage">
        {% if page.collection == 'art' %}{{ content }}{% endif %}
        {% unless page.collection == nil %}{% include imagelink.html %}{% endunless %}
        <picture>
            <source type="image/webp" media="{{small}}" srcset="{{ media }}{{theimage}}-sm.webp 320w">
            <source type="image/jpeg" media="{{small}}" srcset="{{ media }}{{theimage}}-sm.jpg 320w">
            <source type="image/webp" media="{{medium}}" srcset="{{ media }}{{theimage}}-md.webp 540w">
            <source type="image/jpeg" media="{{medium}}" srcset="{{ media }}{{theimage}}-md.jpg 540w">
            <source type="image/webp" media="{{large}}" srcset="{{ media }}{{theimage}}.webp 700w">
            <source type="image/jpeg" media="{{large}}" srcset="{{ media }}{{theimage}}.jpg 700w">
            <img src="{{ media }}{{ theimage }}.jpg" alt="{{ page.alt }}"  title="{{ page.caption }}" loading="lazy">
        </picture>
        {% unless page.collection == nil %}</a>{% endunless %}
    </div>
{% endunless %}
{% endif %}

{% if page.tags %}
    <p class="tags">{{ page.tags | sort | join: ", " }}</p>
{% endif %}

{% unless page.collection == nil or page.collection == 'music' %}
    {% include postnav.html %}
{% endunless %}

{% if page.link %}
    <nav class="postnav">
        {% if page.artstation %}
            <a href="{{ page.artstation }}" target="_blank" rel="noopener noreferrer">Buy on artstation</a>
        {% endif %}
        {% if page.gumroad %}
            <a href="{{ page.gumroad }}" target="_blank" rel="noopener noreferrer">Buy on gumroad</a>
        {% endif %}    
    </nav>
{% endif %}

{% include foot.html %}